<h3>List of customers </h3>
<p>Show data using webix ui</p>
<div id='grid-container'></div>
{{!-- Chen script webix // data table --}}
<script>

webix.i18n.parseFormat = "%c";
webix.i18n.setLocale();

var pager = {
    view:"pager",
    id:"pagerA",
    size:5,
    template: '{common.first()} {common.prev()} {common.pages()} {common.next()} {common.last()}',
    group:3
}

var grid = {
    view: 'datatable', id:'tb_customer', select: 'row',
    autoheight: true, scroll: true,
    //editable: 'cell',
    columns: [
        {id:'name', header:['Name', {content:'textFilter'}], editor: 'text', sort:'text'},
        {id:'email', header:'Email', editor:'text',sort:'text',fillspace: true},
        {id:'phone', header:'Phone',sort:'text'},
        {id: 'address', header:['Address',{content:'textFilter'}]},
        {id: 'status', header:'Status'}
    ],
    url: '/customers/data',
    pager:"pagerA"
}

var rightCol = {
    grid,
    pager
}

var data =  new webix.DataCollection({
    data:[
        { id:1, value:"Gold" },
        { id:2, value:"Silver" },
        { id:3, value:'Platinum'},
        { id:4, value: 'Copper'}
    ]
})

var form = {
    view: 'form', id:'form-customer',
    autoheight: true, 
    columnWidth:50,
    elements: [
        {view:'text', label:'Name', name:'name'},
        {view: 'text',label:'Email', name:'email'},
        {view: 'text',label:'Phone', name:'phone', attributes:{ maxlength:10 }},
        {view:'text', label:'Address', name:'address'},
        {
            view:"richselect",name:'status', label:"Status", options:[

            ]
        },
        {
            cols: [
                {view: 'button', value: 'Add', css:'button_success', click: add},
                {view: 'button', value: 'Update', css: "webix_primary", click: updateData},
                {view: 'button', value: 'Unselect', css: '', click: unSelect},
                {view: 'button', value: 'Delete', css: 'webix_danger', click: deleteData}
                
            ]
        }
    ],
    rules: {
        "name": webix.rules.isNotEmpty,
        "phone": webix.rules.isNotEmpty,
        "email": webix.rules.isNotEmpty,
        "address": webix.rules.isNotEmpty,
        "phone": webix.rules.isNumber,
        "email": webix.rules.isEmail,
        "status": webix.rules.isChecked
    }
}

webix.ui({
    autowidth: true , type:'space',
    container : 'grid-container',
    cols :[
        {rows: [grid, pager]},
        { view:"resizer" }, 
        form
    ]
})
$$('form-customer').define("width", 400);

//$$('form-customer').bind($$('tb_customer'))
$$("tb_customer").attachEvent("onAfterSelect", function(id){
    $$("form-customer").setValues( $$("tb_customer").getItem(id) );
});
$$("form-customer").elements.status.getPopup().getList().sync(data);

function check() {
    var form = $$('form-customer');
    if (form.validate()) {
        webix.message("All is correct", 'success');
        return true
    }
    webix.message({ type:"error", text:"Form data is invalid" });
    return false
}
function add() {
    if(!check()) {
        webix.message('Invalid data in form', 'error')
        return
    }
    data = this.getFormView().getValues()
    delete data.id 
    console.log(data)
    webix.ajax().post('/customers/data', data).then(()=> webix.message({text: 'Saved !', type: 'success'}))
    //$$("tb_customer").refresh()
    //$$("tb_customer").select(0)
    //$$("tb_customer").add(data)
    $$("tb_customer").add(data,0)
    //unSelect()   
    //getFirstId
    //$$("tb_customer").select($$("tb_customer").getLastId())
    $$("tb_customer").select($$("tb_customer").getFirstId())
}

function updateData() {
    if(!check()) {
        webix.message('Invalid data in form', 'error')
        return
    }
    if(!$$('tb_customer')) return
    var custom = $$('tb_customer').getSelectedId()
    if(!custom) {
        webix.message({text: 'Not selected item customer', type:'error'})
        return
    }
    console.log(custom)
    row = custom.row
    id = custom.id
    console.log(id)
    data = this.getFormView().getValues()
    webix.ajax().put(`/customers/data/:${id}`, data).then((webix.message({text: 'Updated!!!', type: 'success'})))
    $$("tb_customer").updateItem(row, data)
}

function unSelect() {
    $$('tb_customer').unselect($$('tb_customer').getSelectedId());
    $$('form-customer').clear()
}

function deleteData() {
    if(!$$('tb_customer')) {
        webix.message({text: 'Not selected item customer', type:'error'})
        return
    }
    var custom = $$('tb_customer').getSelectedId()
    if(!custom) {
        webix.message({text: 'Not selected item customer', type:'error'})
        return
    }
    console.log(custom)
    row = custom.row
    id = custom.id
    //data = this.getFormView().getValues()
    webix.ajax().del(`/customers/data/${id}`, id).then((webix.message({text: 'deleted!!!', type: 'success'})))
    $$("tb_customer").remove(row)
    $$('form-customer').clear()
}
</script>